<div class="container">
  <div class="row">
    <h3>Documentos</h3>
    <% if @documents.count > 0 %>
    <table class="table table-condensed">
      <thead>
        <td>Nombre de archivo</td>
        <td>Creado en</td>
        <td>Estado</td>
        <td>Progreso</td>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <%= partial :document_row, locals: { document: document } %>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="alert alert-info">No hay documentos cargados aún.</div>
    <% end %>
  </div>
</div>
