body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}

/* /projects/new */
.template-upload .size {
  margin: 0;
}
.template-upload .progress {
  height: 10px;
  margin-bottom: 0;
}

/* /documents/view */
ul.pages {
  list-style-type: none;
  padding-left: 0;
  text-align: justify; text-justify: newspaper
}
ul.pages li {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #eee;
  margin-bottom: 1em;
  padding: 1em;
}
.text-line {
  margin: 0.5em 0;
}

/* _document_row */
.table tbody > tr.tools > td {
  border-top: 0;
}
.table tbody > tr.tools > td .progress {
  display: inline-table;
  height: 20px;
  margin-bottom: 0;
  width: 100%;
}
