<div class="container">
  <div class="row">
    <% if @projects.count > 0 %>
    <table class="table table-condensed">
      <thead>
        <td>Última modificación</td>
        <td>Nombre</td>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td style="width: 15em"><%= timeago_tag(project.created_at) %></td>
          <td><a href="/projects/<%= project.id %>"><%= project.name %></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="alert alert-info">No hay proyectos creados aún.</div>
    <% end %>
  </div>
</div>
