<div class="container">
  <div class="row">
    <% if @projects.count > 0 %>
    <table class="table table-hover">
      <thead>
        <td>Last modified</td>
        <td>Name</td>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.updated_at %></td>
          <td><%= project.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="alert alert-info">No hay documentos cargados aún.</div>
    <% end %>
  </div>
</div>
